{% extends "postSystem/postsqlSysBase.html" %} 

{% block css %}
<link rel="stylesheet" href="/static/css/postsqlSystem/canvas.css"> 
{% endblock %} 

{% block javascript %}
<script src="/static/js/postSystem/canvas.js"></script> 
<script src="/static/js/D3/d3.js"></script>
{% endblock %} 

{% block header %} 
<li class="active">
    <a href="Canvas">Canvas特效</a>
</li>
<li>
    <a href="##">SVG特效</a>
</li>
<li>
    <a href="sockt">WebSockt即时通信</a>
</li>
<li  class="dropdown-toggle">
    <a href="Map">地图  <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="dynPoint">leaflet地图动态点</a></li>
        <li><a href="#">哈哈2</a></li>
        <li><a href="#">哈哈3</a></li>
    </ul>
</li>
<li>
    <a href="##">敬请期待</a>
</li>
{% endblock %}

{% block main %}
<div class="container-fluid main">
    <!--<canvas id="mouse"></canvas>
    <canvas id="light"></canvas>
    <canvas id="point"></canvas>
    <canvas id="smoke_canvas"></canvas>-->
    
    <canvas id="mouse"></canvas>
    <canvas id="light"></canvas>
    <canvas id="point"></canvas>
    <canvas id="map-main"></canvas>
    <button id="btn" class="btn btn-fixed">绘制地理曲线</button>
    <button id="smoke" class="btn btn-info btn-fixed">烟花</button>
    <button id="zoomout" class="btn btn-success btn-fixed">放大</button>
    <button id="zoomin" class="btn btn-success btn-fixed">缩小</button>
</div>
{% endblock %}