<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/postsqlSystem/home.css" />
    <script src="/static/js/jquery/jquery-2.7.1.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <title>lxgis后台管理</title>
</head>
<body>
    <div class="manage-body">
        <div id="manage-container" class="fluid-container"></div>
    </div>
    <footer id="manage-footer" >
        <div>© 2018 Alan Copyright©  <a><a>http://lxgis.com</a></div>
    </footer>
</body>
<script src="/static/js/postSystem/manage.js"></script>

</html>