html,body{
    width:100%;
    height: 100%;
    /*background: #000;*/
    overflow: hidden;
    padding: 20px;
}
.red{
    fill:red;
}
.blue{
    fill:blue;
}
input[disabled]{color:#fff;opacity:1}
.input_city{
    position: absolute;
    right: 2px;
    float: right;
}
#contain-table{
    max-height: 600px;
    overflow-y: auto;
}