<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript by www.liaoxuefeng.com">
    <title>傻逼</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/leaflet.css">
    <script src="../static/js/jquery-2.7.1.min.js"></script>
    <script src="../static/js/leaflet/leaflet-src.js"></script>
    <script src="../static/js/leaflet/esri-leaflet.js"></script>
    <script src="../static/js/leaflet/proj4.js"></script>
    <script src="../static/js/leaflet/proj4leaflet.js"></script>
    <script src="../static/js/leaflet/leaflet.ChineseTmsProviders.js"></script>
    <style>
        #map-main {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="map-main"></div>

</body>
<script type="text/javascript">
    window.onload = function(){
        var layer = L.TileLayer.ChinaProvider('GaoDe.Normal.Map', {});
        layer.addTo(map);
        map.setView([36,112], 5);
    }

</script>

</html>