<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript by www.liaoxuefeng.com">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/widgets.css">
    <script src="/static/js/jquery/jquery-2.7.1.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/D3/d3.js"></script>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
            overflow: hidden;
            cursor: pointer;
        }

        #snow {
            background-color: #87CEEB;
        }
    </style>
</head>

<body>
    <canvas id="snow" 　width=600 height=800></canvas>
    <script type="text/javascript">
        var canvas = document.getElementById("snow");
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        var context = canvas.getContext("2d");
        var practicles = [];
        for (var i = 0; i < 5000; i++) {//循环生成500粒
            practicles.push({
                x: Math.random() * (window.innerWidth),
                y: Math.random() * (window.innerHeight),
                vx: Math.random() - 0.5,
                vy: Math.random() + 0.5,
                size: Math.random() * 3 + 1,
                color: "#FFF"
            })
        }
        function timeUpdate() {
            context.clearRect(0, 0, window.innerWidth, window.innerHeight);//清除画布区域
            var practicle;
            for (var i = 0; i < 500; i++) {
                var practicle = practicles[i];
                practicle.x += practicles[i].vx;
                practicle.y += practicles[i].vy;
                if (practicle.x < 0) { practicle.x = window.innerWidth }
                if (practicle.x > window.innerWidth) { practicle.x = 0 }
                if (practicle.y > window.innerHeight) { practicle.y = 0 }
                context.beginPath();
                context.arc(practicle.x, practicle.y, practicle.size, 0, Math.PI * 2)
                context.closePath();
                context.fillStyle = practicle.color;
                context.fill();
            }
        }
        setInterval(timeUpdate, 40);
        $(window).resize(function(){
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            timeUpdate();
        });
    </script> {% block main %} {% endblock %}
</body>

</html>